<launch>
<arg name="model" />
<param name="robot_description" 
textfile="$(find thedush_arm_full_robot)/urdf/full_robot.urdf" />
<param name="use_gui"
 value="true"/>
<node name="joint_state_publisher" pkg="joint_state_publisher"
type="joint_state_publisher" />
<node name="robot_state_publisher" pkg="robot_state_publisher"
type="state_publisher" />
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find thedush_arm_full_robot)/urdf.rviz" required="true" />
</launch>
